@font-face {
  font-family: 'RobotoBlack';
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoLight';
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMedium';
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoRegular';
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyrBold';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?') format("eot"),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff') format("woff"),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyrLight';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?') format("eot"),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format("woff"),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyrMedium';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?') format("eot"),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff') format("woff"),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyrRoman';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?') format("eot"),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff') format("woff"),
    url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}