// Colors
$white: #ffffff;
$black: #000000;

// Sizes


// Fonts
$main-font: RobotoMedium,
Arial,
sans-serif;

$RobotoBlack: RobotoBlack;
$RobotoBold: RobotoBold;
$RobotoLight: RobotoLight;
$RobotoMedium: RobotoMedium;
$RobotoRegular: RobotoRegular;

$HelveticaNeueCyrBold: HelveticaNeueCyrBold;
$HelveticaNeueCyrLight: HelveticaNeueCyrLight;
$HelveticaNeueCyrMedium: HelveticaNeueCyrMedium;
$HelveticaNeueCyrRoman: HelveticaNeueCyrRoman;